<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qyai.beaconlib">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".login.LoginAct"
            android:launchMode="singleTask" />

        <activity
            android:name=".html.HtmlMapAct"
            android:launchMode="singleTask" />
        <activity
            android:name=".location.BeaconMessageAct"
            android:launchMode="singleTask" />
        <activity
            android:name=".location.LockScreenActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <service
            android:name=".location.SensorManageService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".location.AliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>