<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qyai.watch_app">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 这个权限用于进行网络定位 &ndash;&gt; -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".home2.HomeActivity2"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".home.MyWatchActivity" />
        <activity android:name=".contacts.AddContactsActivity" />
        <activity android:name=".contacts.ContactsActivity" />
        <activity android:name=".message.MessageActivity" />
        <activity
            android:name=".message.AlarmDetailActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".xiaqu.PersonDetailActivity" />
        <activity
            android:name=".message.AlarmActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".xiaqu.XiaQuActivity" />
        <activity
            android:name=".measure.MeasureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".bind.BindActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".message.MessageDetailAct" />
        <activity
            android:name=".message.CheckJustClassIdAct"
            android:launchMode="singleInstance" />

        <service
            android:name=".message.MessageService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>